page-home {
    .ellipsis{
        font-size: 2.5rem;
        margin-right: 5px;
    }

    .avatar{
        border-radius: 100%;
        max-height: 40px;
        max-width: 40px;
        margin-left: 10px;
    }
}
