page-ride {
    .user-details{
        padding-top: 10%;
        background-color: color($colors, primary);
        height: 15%;
        color: color($colors, light);
    }
    .back-button-fixed{
        position: fixed;
        z-index: 101;
        color: color($colors, light);
    }
}
